<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a Mercadoliebre</title>
    <link rel="icon" href="img/logo-mercado-liebre.svg">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"><!-- tipografía Roboto -->
<script src="https://kit.fontawesome.com/99e3faaab2.js" crossorigin="anonymous"></script><!-- iconos -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> <!-- iconos -->
</head>

<body>
    <header class="main-header">
        <section class="main-header-top-bar"><!-- LOGO MERCADO LIEBRE -->
    <img src="img/logo-mercado-liebre.svg" class="logo" alt="logo-mercado-liebre">
    
    <!-- BUSCADOR MERCADO LIEBRE -->
    <div class="buscador">
        <label name="producto" ></label>
        <input type="text" name="nombre" class="" placeholder="Buscar productos, marcas">
        <i class="fas fa-magnifying-glass"></i>
        </div>
    
    <div>
        <h2 class="copy-header">
        <i class="fas fa-hand-holding-dollar"></i>
        Comprá en cuotas y sin tarjeta de crédito
    </h2>
    </div>
</section>

    <!-- NAVBAR -->
    <nav class="main-navbar">
        <ul class="navbar-left">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
            </ul>
        <ul class="navbar-right">
            <li><a href="#">Creá tu cuenta</a></li>
            <i class="fas fa-address-card"></i>
            <li><a href="#">Ingresá</a></li>
            <i class="fas fa-arrow-right-to-bracket"></i>
            <li><a href="#">Mis compras</a></li>
            <i class="fas fa-basket-shopping"></i>
        </ul>    
    </nav>

    <div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>
</header>

    <img class="banner" src="img/img-home-banner.jpg" alt="">
    <main>
        <section>
            <article>
                <h2>Basado en tu última visita</h2>
                <!--Producto Cafetera-->
                <div>
                    <img src="img/img-cafetera-moulinex.jpg" alt="cafetera roja marca molinex" class="img-productos">
                </div>
                <div class="into-article">
                    <i class="fas fa-truck"></i>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                    <h4 class="text-descriptions">Cafetera Moulinex</h4>
                </div>
                
            </article>
            <article>
                <!--Producto Macbook-->
                <div>
                    <img src="img/img-macbook-pro-2019.jpg" alt="" class="img-productos">
                </div>
                <div class="into-article">
                    <i class="fa-thin fa-truck"></i>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% OFF</p>
                    <h4 class="text-descriptions">MacBook Pro 2019</h4>
                </div>
            </article>
            <article>
                <!--Producto Samsung-->
                <div>
                    <img src="img/img-samsung-galaxy-s10.jpg" alt="" class="img-productos">
                </div>
                <div class="into-article">
                    <i class="fa-thin fa-truck"></i>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% OFF</p>
                    <h4 class="text-descriptions">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <!--Producto Smart TV-->
                <div>
                    <img src="img/img-tv-samsung-smart.jpg" alt="" class="img-productos">
                </div>
                <div class="into-article">
                    <i class="fa-thin fa-truck"></i>
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% OFF</p>
                    <h4 class="text-descriptions">SmartTv Samsung 43"</h4>
                </div>
            </article>
            
        </section>

        <section>
            
            <article>
                <h2>Ofertas</h2>
                <!--Producto Cafetera-->
                <div>
                    <img src="img/img-cafetera-moulinex.jpg" alt="cafetera roja marca molinex" class="img-productos">
                </div>
                <div class="into-article">
                    <i class="fa-thin fa-truck"></i>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                    <h4 class="text-descriptions">Cafetera Moulinex</h4>
                </div>
                
            </article>
            <article>
                <!--Producto Macbook-->
                <div>
                    <img src="img/img-macbook-pro-2019.jpg" alt="" class="img-productos">
                </div>
                <div class="into-article">
                    <i class="fa-thin fa-truck"></i>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% OFF</p>
                    <h3 class="text-descriptions">MacBook Pro 2019</h3>
                </div>
            </article>
            <article>
                <!--Producto Samsung-->
                <div>
                    <img src="img/img-samsung-galaxy-s10.jpg" alt="" class="img-productos">
                </div>
                <div class="into-article">
                    <i class="fa-thin fa-truck"></i>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% OFF</p>
                    <h3 class="text-descriptions">Samsung Galaxy S10</h3>
                </div>
            </article>
            <article>
                <!--Producto Smart TV-->
                <div>
                    <img src="img/img-tv-samsung-smart.jpg" alt="" class="img-productos">
                </div>
                <div class="into-article">
                    <i class="fa-thin fa-truck"></i>
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% OFF</p>
                    <h3 class="text-descriptions">SmartTv Samsung 43"</h3>
                </div>
            </article>
        </section>
</main>

<!-- Formulario-->
<form action="/crear-producto" method="POST" class="create-form">
        <div class="control-form">
        <label name="producto">Nombre del producto:</label>
        <input type="text" name="nombre" class="control">
    </div>
    <div class="control-form">
        <label name="precio">Precio:</label>
        <input type="text" placeholder="1,2,3.56" class="control">
    </div>
    <div class="control-form">
        <label name="categoria">Categoría:</label>
        <select name="categoria" class="control">
            <option value="hogar">Hogar</option>
            <option value="electro">Electro</option>
            <option value="indumentaria">Indumentaria</option>
        </select>
    </div>
    <div class="control-form">
        <label name="ciudad">Ciudad:</label>
        <select name="ciudad" class="control">
            <option value="baires">Buenos Aires</option>
            <option value="ros">Rosario</option>
            <option value="mez">Mendoza</option>
        </select>
    </div>
    <div class="control-form">
        <label for="">Descripción del producto</label>
        <textarea name="descripcion" class="control"></textarea>
    </div>
    <div class="control-form">
        <label name="enOferta">¿Está en oferta?</label>
        <input type="radio">
    </div>
    
    <!--Botones para enviar o borrar-->
    <button type="reset" class="form-button">Borrar</button>
    <button type="submit" class="form-button">Guardar</button>
    
    </form>



<!-- FOOTER -->
<footer>
    <section>
        <div class="icono-tarjeta">
            <i class="fas fa-credit-card"></i>
            </div>
        <h3 class="footer-headers">Pagá con tarjeta o en efectivo</h3>
        <p class="footer-content">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
    </section>
    <section>
        <div class="icono-regalo">
            <i class="fas fa-gift"></i>
            </div>
        <h3 class="footer-headers">Envío gratis desde $ 2.500</h3>
        <p class="footer-content">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
    </section>
    <section>
        <div class="icono-seguridad">
            <i class="fas fa-user-shield"></i>
            </div>
        <h3 class="footer-headers">Seguridad, de principio a fin</h3>
        <p class="footer-content">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
    </section>
    <section>
        <h3 class="footer-headers">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    </section>


</footer>


</body>
</html>