<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenidos a Mercadoliebre</title>
    <link rel="icon" href="img/logo-mercado-liebre.svg" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <!-- tipografía Roboto -->
    <script
      src="https://kit.fontawesome.com/99e3faaab2.js"
      crossorigin="anonymous"
    ></script>
    <!-- iconos -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />

    <!-- iconos -->
  </head>
  <body>
    <header class="main-header">
      <section class="main-header-top-bar">
        <!-- LOGO MERCADO LIEBRE -->
        <img
          src="img/logo-mercado-liebre.svg"
          class="logo"
          alt="logo-mercado-liebre"
        />

        <!-- BUSCADOR MERCADO LIEBRE -->
        <div class="buscador">
          <label name="producto"></label>
          <input
            type="text"
            name="nombre"
            class=""
            placeholder="Buscar productos, marcas"
          />
          <i class="fas fa-magnifying-glass"></i>
        </div>

        <div>
          <h2 class="copy-header">
            <i class="fas fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin tarjeta de crédito
          </h2>
        </div>
      </section>

      <!-- NAVBAR -->
      <nav class="main-navbar">
        <ul class="navbar-left">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="navbar-right">
          <li><a href="#">Creá tu cuenta</a></li>
          <i class="fas fa-address-card"></i>
          <li><a href="#">Ingresá</a></li>
          <i class="fas fa-arrow-right-to-bracket"></i>
          <li><a href="#">Mis compras</a></li>
          <i class="fas fa-basket-shopping"></i>
        </ul>
      </nav>

      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>

    <!-- FOOTER -->
    <footer>
      <section>
        <div class="icono-tarjeta">
          <i class="fas fa-credit-card"></i>
        </div>
        <h3 class="footer-headers">Pagá con tarjeta o en efectivo</h3>
        <p class="footer-content">
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </section>
      <section>
        <div class="icono-regalo">
          <i class="fas fa-gift"></i>
        </div>
        <h3 class="footer-headers">Envío gratis desde $ 2.500</h3>
        <p class="footer-content">
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </section>
      <section>
        <div class="icono-seguridad">
          <i class="fas fa-user-shield"></i>
        </div>
        <h3 class="footer-headers">Seguridad, de principio a fin</h3>
        <p class="footer-content">
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </section>
      <section>
        <h3 class="footer-headers">
          Copyright © 1999-2020 MercadoLiebre S.R.L.
        </h3>
      </section>
    </footer>
  </body>
</html>
